
@media only screen and (max-width:700px) {
    .menu-container{
        display: none!important;
    }
}

.header-container {
    background-color: #56CCF2;
    display: flex;
    line-height: 15px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
    /* background-color: red; */
    
}

.logo-container span {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    padding: 10px;
}

.menu-container{
    
    width: 60%;
    /* background-color: blue; */


}

.ulLink {
    display: flex;
    flex-direction: row;
    float: right; 
}

.nav-link-li{
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 6vmin;
  }

  .navLink {
      color: #fff;
      font-weight: 700;
      text-decoration: none;
      
  }

 .btn-logout{
     cursor: pointer;
     background-color: #fff;
     padding: 12px 25px;
     border-radius: 20px;
     color: rgb(30, 124, 155);
     border: 2px solid transparent;
     font-weight: 700;
     transition: background-color 1s ease;
     transition: background-color 1s;
 }

 .btn-logout:hover{
     background-color: transparent;
     border: 2px solid #fff;
     color: #fff;
 }